
.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f5f5;
  padding: 1rem;
}

.imagem-lado {
  width: 50%;
  max-width: 500px;
  object-fit: cover;
}

.login-container {
  background: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

.login-container h1 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #333;
}

.form-group {
  margin-bottom: 1rem;
  text-align: left;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.message {
  margin-top: 1rem;
  color: green;
  font-size: 0.9rem;
}

.forgot-password {
  margin-top: 20px;
}

.forgot-password a {
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
}

.forgot-password a:hover {
  color: #005bb5;
}

/* Responsividade */
@media (max-width: 768px) {
  .login-wrapper {
    flex-direction: column;
    text-align: center;
    height: auto;
  }

  .imagem-lado {
    width: 100%;
    max-width: 300px;
    margin-bottom: 1rem;
  }

  .login-container {
    width: 90%;
    max-width: 350px;
    padding: 1.5rem;
  }

  .login-container h1 {
    font-size: 1.5rem;
  }

  .form-group label {
    font-size: 0.9rem;
  }

  .forgot-password a {
    font-size: 0.8rem;
  }
}
